@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 0, 12, 36;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}

.delay-300 {
  animation-delay: 300ms;
}

/* Add these new styles for the moon button */
.moon-button {
  transition: box-shadow 0.3s ease-in-out;
}

.moon-button:hover {
  box-shadow: 0 0 25px 15px rgba(255, 255, 255, 0.3);
}

/* Custom Scrollbar Styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #f5dd4a rgba(17, 24, 39, 0.3);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(17, 24, 39, 0.3);
  backdrop-filter: blur(10px);
}

*::-webkit-scrollbar-thumb {
  background-color: #facc15;
  border-radius: 20px;
  border: 3px solid rgba(17, 24, 39, 0.3);
}

